* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oleo Script", cursive;
    
}
img {
    display: block;
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.image {
    width: 350px;
    height: 500px;
}
.image img {
    width: 350px;
    height: 500px;
}
.main {
    width: 350px;
    height: 500px;
    padding: 25px;
    justify-content: center;
}

h1 {
    font-weight: 700;
    margin: 40px 0;
    line-height: 35px;
    
}

.desktop {
    border-radius: 10px 0 0 10px;
}

.mobile {
    display: none;
}

p {
    font-size: 22px;
    font-weight: 700;
    text-align: justify;
}

.pr {
    /* background-color: hsl(30, 38%, 92%); */
    color: gray;
    font-size: 1rem;
}

.login-button {
    margin-top: 20px;
    border: none;
    background: rgb(64, 130, 64);
    cursor: pointer;
    width: 300px;
    height: 80px;
    font-size: 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5 ease;
    justify-content: end;
    display: block;
}

.log {
    text-decoration: none;
    color: aliceblue;
}

.login-button:hover {
    background-color: rgb(0, 118, 18);
    font-size: 1.7rem;
    transition-duration: 0.5s;
}

#h {
    text-decoration: line-through;
    color: rgb(123, 123, 123);
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

#l {
    font-size: 2rem;
    color: darkgreen;
}

button svg {
    color: aliceblue;
    margin-right: 5px;
    /* vertical-align: middle; */
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px 10px 0 0;
    }

    .image img {
        width: 350px;
        height: 240px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 3rem;
    }

    .main {
        margin-bottom: 150px;
    }
    h1 {
        margin: 20px 0;
    }
}
